#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.slideshow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

input {
  width: 300px;
}

.vote {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.interaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.btn-container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}