#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.list-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.input-typeahead {
  width: 500px;
  height: 50px;
}

.suggestion-list {
  width: 400px;
  background-color: rgb(211, 211, 211);
  color: black;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
